/* Importing a font */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&family=Oswald:wght@400;600&display=swap");

/*tail wind stuff*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "EB Garamond";
    src: url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap");
  }

  @font-face {
    font-family: "Oswald";
    src: url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap");
  }
}

/* parallax section components */
.parallax-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*background color*/
.background {
  background-color: #d7bea8;
  min-height: 100vh;
  padding-bottom: 20px;
}

.homePage {
  z-index: 2;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #d7bea8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Landing page styles */
.landHeading {
  line-height: 1.25em;
  height: auto;
  text-align: center;
  font-family: "Oswald", serif;
  font-size: 10rem;
  font-weight: 600;
  margin-top: 20px;
  color: #4b3b42;
}

.landDescrip {
  line-height: 1.5em;
  height: auto;
  text-align: center;
  font-family: "EB Garamond", serif;
  color: #4b3b42;
  font-size: 2rem;
  margin-top: 20px;
}

.music-note {
  top: 0;
  width: 50px;
  height: 50px;
  z-index: 1;
  pointer-events: none;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.contactsLink {
  display: block;
  text-align: center;
  font-weight: bold;
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  margin-top: 2vw;
  color: #9c8481;
}

.contactsLink:hover {
  color: blue;
}

/* About Page styles */
.aboutHeading {
  line-height: 1.25em;
  height: auto;
  text-align: center;
  font-family: "Oswald", serif;
  font-size: 10rem;
  font-weight: 600;
  margin-top: 20px;
  color: #4b3b42;
}

.aboutDescription {
  height: auto;
  text-align: center;
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  color: #4b3b42;
  width: 80%;
  max-width: 1500px;
  background-color: rgba(
  255,
  255,
  255,
  0.1
  );
  margin: clamp(1rem, 2vw, 2rem) auto;
}

/*skills section*/

.skillsHeading {
  line-height: 1.25em;
  height: auto;
  text-align: center;
  font-family: "Oswald", serif;
  font-size: 10rem;
  font-weight: 600;
  margin-top: 20px;
  color: #4b3b42;
}
.skillsList {
  height: auto;
  text-align: center;
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  margin-top: 2rem;
  color: #4b3b42;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: rgba(
  255,
  255,
  255,
  0.1
  );
}

/*Resume Stuff*/
.resumeHeading {
  line-height: 1.25em;
  height: auto;
  text-align: center;
  font-family: "Oswald", serif;
  font-size: 10rem;
  font-weight: 600;
  margin-top: 20px;
  color: #4b3b42;
}

.resumePicture {
  margin-top: 5vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  width: 100%;
  max-width: 500px;
}

.resumeLink {
  font-family: "EB Garamond", serif;
  color: #9c8481;
  margin: 5px 0;
  display: inline-block;
  font-size: 24px;
  text-align: center;
}

.resumeLink:hover {
  color: blue;
}

/*Projects stuff */
.projectsHeading {
  line-height: 1.25em;
  height: auto;
  text-align: center;
  font-family: "Oswald", serif;
  font-size: 10rem;
  font-weight: 600;
  margin-top: 20px;
  color: #4b3b42;
  margin-bottom: 30px;
}

.projectsDescrip {
  line-height: 1.25em;
  height: auto;
  text-align: center;
  font-family: "Oswald", serif;
  font-size: 3.5rem;
  font-weight: 600;
  margin-top: 20px;
  color: #4b3b42;
  margin-bottom: 30px;
}

.projectsFlexContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 40px;
  flex-wrap: wrap;
  padding: 20px 0;
}

.gameContainer,
.musicContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
  min-height: 80vh;
  width: 45%;
  background-color: rgba(
  255,
  255,
  255,
  0.1
  );
  border-radius: 10px;
  margin-bottom: 500px;
}

.gameCarousel {
  border: 10px solid #4b3b42;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.headingForProjects {
  line-height: 1.25em;
  height: auto;
  text-align: center;
  font-family: "Oswald", serif;
  font-size: 5rem;
  font-weight: 600;
  font-style: italic;
  margin-top: 20px;
  color: #4b3b42;
}

.descripForProjects {
  line-height: 1.5em;
  height: auto;
  text-align: center;
  font-family: "EB Garamond", serif;
  color: #4b3b42;
  font-size: 2rem;
  margin-top: 20px;
}

/* scroll.css */
.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: transparent;
  z-index: 9999;
}

.progress-bar {
  width: 100%;
  height: 100%;
  background-color: #050517;
  transform-origin: 0 0;
  transform: scaleX(0);
  transition: transform 0.1s linear;
}

@layer components {
  .font-garamond {
    font-family: "EB Garamond", serif;
  }
  .font-oswald {
    font-family: "Oswald", sans-serif;
  }

  .parentContainer {
    @apply flex items-center justify-center h-screen;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 text-[#4b3b42] bg-[#dbd2c3] hover:bg-gray-400 rounded-3xl hover:rounded-xl transition-all;
  }

  .sidebar-tooltip {
    @apply absolute bottom-14 w-auto p-2 m-2 min-w-max rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-bottom;
  }

  .group:hover .sidebar-tooltip {
    @apply scale-100;
  }

  .sidebarFormat {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    z-index: 10;
    justify-content: center;
    padding: 10px;
    font-family: "EB Garamond", serif;
    background-color: #9c8481;
    color: gray;
  }

  .sidebarFormat ul {
    @apply p-0 list-none flex justify-center;
  }

  .sidebarFormat li {
    @apply flex justify-center mb-2;
  }

  .sidebarFormat a {
    @apply no-underline flex flex-col items-center;
  }
  /*adjust size for mobile devices*/

  /*phone*/
  @media (max-width: 768px) {
    .landHeading, .aboutHeading, .skillsHeading, .resumeHeading, .projectsHeading {
      font-size: 5rem;
    }
    .landDescrip, .aboutDescrip, .skillsDescrip, .resumeDescrip, .projectsDescrip {
      font-size: 1rem;
      margin: 1.5rem;
    }
    .resumePicture {
      margin-top: 2.5vw;
      display: block;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      border: solid;
      width: 50%;
      max-width: 250px;
    }
    .projectsFlexContainer {
      flex-direction: column;
      align-items: center;
    }
    .gameContainer, .musicContainer {
      width: 80%;
      min-height: auto;
      margin-bottom: 2rem;
    }

  }

}

