/* Importing a font */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&family=Oswald:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "EB Garamond";
    src: url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap");
  }

  @font-face {
    font-family: "Oswald";
    src: url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap");
  }
}

/*background color*/
.background {
  background-color: #d7bea8;
  min-height: 100vh;
}

/* Landing page styles */
.landHeading {
  line-height: 1.25em;
  height: auto;
  text-align: center;
  font-family: "Oswald", serif;
  font-size: 52px;
  font-weight: 600;
  margin-top: 20px;
  color: #4b3b42;
}

.landDescrip {
  line-height: 1.5em;
  height: auto;
  text-align: center;
  font-family: "EB Garamond", serif;
  color: #4b3b42;
  font-size: 32px;
  margin-top: 20px;
}

/*Wrote a center container so the hyper links don't take up the entire width of the page*/
.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.contactsLink {
  display: block;
  text-align: center;
  font-weight: bold;
  font-family: "EB Garamond", serif;
  font-size: 28px;
  margin-top: 2vw;
  color: #9c8481;
}

.contactsLink:hover {
  color: blue;
}

/* About Page styles */
.aboutHeading {
  line-height: 1.25em;
  height: auto;
  text-align: center;
  font-family: "Oswald", serif;
  font-size: 52px;
  font-weight: 600;
  margin-top: 20px;
  color: #4b3b42;
}

.aboutDescription {
  height: 50px;
  text-align: center;
  font-family: "EB Garamond", serif;
  font-size: 32px;
  margin-top: 5vw;
  color: #4b3b42;
}

/*Projects stuff */
.projectsHeading {
  line-height: 1.25em;
  height: auto;
  text-align: center;
  font-family: "Oswald", serif;
  font-size: 52px;
  font-weight: 600;
  margin-top: 20px;
  color: #4b3b42;
}

/*Resume Stuff*/
.resumeHeading {
  line-height: 1.25em;
  height: auto;
  text-align: center;
  font-family: "Oswald", serif;
  font-size: 52px;
  font-weight: 600;
  margin-top: 20px;
  color: #4b3b42;
}

.resumePicture {
  margin-top: 5vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  width: 50%;
}

.resumeLink {
  font-family: "EB Garamond", serif;
  color: #9c8481;
  margin: 5px 0;
  display: inline-block;
  font-size: 24px;
  text-align: center;
}

.resumeLink:hover {
  color: blue;
}

/* Index.jsx styles */
@layer components {
  .font-garamond {
    font-family: "EB Garamond", serif;
  }
  .font-oswald {
    font-family: "Oswald", sans-serif;
  }

  .parentContainer {
    @apply flex items-center justify-center h-screen;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 text-[#4b3b42] bg-[#dbd2c3] hover:bg-gray-400 rounded-3xl hover:rounded-xl transition-all;
  }

  .sidebar-tooltip {
    @apply absolute bottom-14 w-auto p-2 m-2 min-w-max rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-bottom;
  }

  .group:hover .sidebar-tooltip {
    @apply scale-100;
  }

  .sidebarFormat {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: "EB Garamond", serif;
    background-color: #9c8481;
    color: gray;
  }

  .sidebarFormat ul {
    @apply p-0 list-none flex justify-center;
  }

  .sidebarFormat li {
    @apply flex justify-center mb-2;
  }

  .sidebarFormat a {
    @apply no-underline flex flex-col items-center;
  }
}
