/* Importing a font */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&family=Oswald:wght@400;600&display=swap");

/*tail wind stuff*/
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.background {
  background-color: #d7bea8;
}

/* scroll.css */
.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background-color: transparent;
  z-index: 9999;
}

.progress-bar {
  width: 100%;
  height: 100%;
  background-color: #4b3b42;
  transform-origin: 0 0;
  transform: scaleX(0);
  transition: transform 0.1s linear;
}

@layer components {
  .font-garamond {
    font-family: "EB Garamond", serif;
  }
  .font-oswald {
    font-family: "Oswald", sans-serif;
  }
  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 text-[#4b3b42] bg-[#dbd2c3] hover:bg-gray-400 rounded-3xl hover:rounded-xl transition-all;
  }

  .sidebar-tooltip {
    @apply absolute bottom-14 w-auto p-2 m-2 min-w-max rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-bottom;
  }

  .group:hover .sidebar-tooltip {
    @apply scale-100;
  }

  .sidebarFormat {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    z-index: 10;
    justify-content: center;
    padding: 1rem;
    font-family: "EB Garamond", serif;
    background-color: #9c8481;
    color: gray;
  }

  .sidebarFormat ul {
    @apply p-0 list-none flex justify-center;
  }

  .sidebarFormat li {
    @apply flex justify-center mb-2;
  }

  .sidebarFormat a {
    @apply no-underline flex flex-col items-center;
  }
}
